## List Tasks

In [675]:
#1. **Count Occurrences**: Given a list and an element, find how many times the element appears in the list.
text = ["banana" , "apple" , "apple" , "pineapple" , "kiwi" , "ananas" , "banana"]
object_ = "banana"
print(f"The word {object_} has been use {text.count(object_)}")

The word banana has been use 2

In [676]:
#2. **Sum of Elements**: Given a list of numbers, calculate the total of all the elements.
numbers = [1 , 2 , 5 , -6 , -7 , -10 , 8 , 15 , 2 , 8]
print(sum(numbers))

18

In [677]:
#3. **Max Element**: From a given list, determine the largest element.
print(max(numbers))

15

In [678]:
#4. **Min Element**: From a given list, determine the smallest element.
print(min(numbers))

-10

In [679]:
#5. **Check Element**: Given a list and an element, check if the element is present in the list.
list_ = [1 , 2 , 5 , -6 , -7 , -10 , 8 , 15 , 2 , 8 , "banana" , "apple" , "apple" , "pineapple" , "kiwi" , "ananas" , "banana"]
element = 5
if bool(element in list_):
    print('Yes')
else:
    print("No")

Yes

In [680]:
#6. **First Element**: Access the first element of a list, considering what to return if the list is empty.
if len(list_) > 0:
    print(list_[1])
else:
    print("The list is empty")

2

In [681]:
#7. **Last Element**: Access the last element of a list, considering what to return if the list is empty.
if len(list_) > 0:
    print(list_[-1])
else:
    print("The list is empty")

banana

In [682]:
#8. **Slice List**: Create a new list that contains only the first three elements of the original list.
new_list = list_[:3]
print(new_list)

[1, 2, 5]

In [683]:
#9. **Reverse List**: Create a new list that contains the elements of the original list in reverse order.
reverse_list = list_.copy() 

reverse_list.reverse() 

print(list_)
print(reverse_list)

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
['banana', 'ananas', 'kiwi', 'pineapple', 'apple', 'apple', 'banana', 8, 2, 15, 8, -10, -7, -6, 5, 2, 1]

In [684]:
#10. **Sort List**: Create a new list that contains the elements of the original list in sorted order.
sorted_ = sorted(numbers)
print(sorted_)

[-10, -7, -6, 1, 2, 2, 5, 8, 8, 15]

In [685]:
#11. **Remove Duplicates**: Given a list, create a new list that contains only unique elements from the original list.
unique_list = list(set(list_))
print(unique_list)

[1, 2, 5, 8, 'apple', 'ananas', 15, 'banana', 'pineapple', -10, 'kiwi', -7, -6]

In [686]:
#12. **Insert Element**: Given a list and an element, insert the element at a specified index.
from copy import copy , deepcopy
print(list_)
inserted = list_
inserted.insert(10 , "cherry")
print(inserted)

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']

In [687]:
#13. **Index of Element**: Given a list and an element, find the index of the first occurrence of the element.
print(list_)
print(list_.index(object_))

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
11

In [688]:
#14. **Check for Empty List**: Determine if a list is empty and return a boolean.
empty_list = []
print(bool(empty_list))

False

In [689]:
#15. **Count Even Numbers**: Given a list of integers, count how many of them are even.
print(numbers)
number_of_even_numbers = 0
for n in numbers:
    if n % 2 == 0:
        number_of_even_numbers += 1

print(number_of_even_numbers)

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8]
6

In [690]:
#16. **Count Odd Numbers**: Given a list of integers, count how many of them are odd.
print(numbers)
even_numbers = 0
for n in numbers:
    if n % 2 == 1:
        even_numbers += 1

print(even_numbers)

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8]
4

In [691]:
#17. **Concatenate Lists**: Given two lists, create a new list that combines both lists.
print(numbers)
print(text)
# 1st solution
combined = numbers + text
print(combined)
# 2nd solution
combined1 = text.copy()
combined1.extend(numbers)
print(combined1)

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8]
['banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
['banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana', 1, 2, 5, -6, -7, -10, 8, 15, 2, 8]

In [692]:
#18. **Find Sublist**: Given a list and a sublist, check if the sublist exists within the list.
print(list_)
sublist_ = [1 , 2 , 3 , "banana" , "ananas"]
result = all(item in list_ for item in sublist_)
print(result)

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
False

In [693]:
#19. **Replace Element**: Given a list, replace the first occurrence of a specified element with another element.
replaced = list_.copy()
replaced[2] = 3
print(replaced)

[1, 2, 3, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']

In [694]:
#20. **Find Second Largest**: From a given list, find the second largest element.
print(text)
secondlargest = text.copy()
secondlargest = list(set(secondlargest))
secondlargest = sorted(secondlargest , key=lambda n:len(n))
print(secondlargest[-2])

['banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
banana

In [695]:
#21. **Find Second Smallest**: From a given list, find the second smallest element.
print(text)
secondsmallest = text.copy()
secondsmallest = list(set(secondsmallest))
secondsmallest = sorted(secondsmallest , key=lambda n:len(n))
print(secondsmallest[1])

['banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
apple

In [696]:
#22. **Filter Even Numbers**: Given a list of integers, create a new list that contains only the even numbers.
print(numbers)

even_numbers = []
for n in numbers:
    if n % 2 == 0:
        even_numbers.append(n)

print(even_numbers)

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8]
[2, -6, -10, 8, 2, 8]

In [697]:
#23. **Filter Odd Numbers**: Given a list of integers, create a new list that contains only the odd numbers.
print(numbers)
odd_numbers = []
for n in numbers:
    if n % 2 == 1:
        odd_numbers.append(n)

print(odd_numbers)

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8]
[1, 5, -7, 15]

In [698]:
#24. **List Length**: Determine the number of elements in the list.
print(list_)
print(len(list_))

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
18

In [699]:
#25. **Create a Copy**: Create a new list that is a copy of the original list.
from copy import copy , deepcopy
copied = deepcopy(list_)
print(copied)

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']

In [700]:
#26. **Get Middle Element**: Given a list, find the middle element. If the list has an even number of elements, return the two middle elements.
print(list_)
middle_element = []
if len(list_) % 2 == 1:
    middle_element.extend(list_[len(list_) // 2])
else:
    middle_element.extend(list_[(len(list_) // 2 - 1) : (len(list_) // 2 + 1)])

print(middle_element)

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
[2, 8]

In [701]:
#27. **Find Maximum of Sublist**: Given a list, find the maximum element of a specified sublist.
from copy import copy, deepcopy
print(numbers)
number_sublist = deepcopy(numbers)
number_sublist = number_sublist[3:6]
print(max(number_sublist))

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8]
-6

In [702]:
#28. **Find Minimum of Sublist**: Given a list, find the minimum element of a specified sublist.
print(min(number_sublist))

-10

In [703]:
#29. **Remove Element by Index**: Given a list and an index, remove the element at that index if it exists.
from copy import copy, deepcopy
removed_list = deepcopy(list_)
print(removed_list)
removed_list.remove(removed_list[9])
print(removed_list)

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
[1, 2, 5, -6, -7, -10, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']

In [704]:
#30. **Check if List is Sorted**: Determine if the list is sorted in ascending order and return a boolean.
print(numbers)
print(bool(numbers == sorted(numbers)))

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8]
False

In [705]:
#31. **Repeat Elements**: Given a list and a number, create a new list where each element is repeated that number of times.
print(list_)
repeated_number = 3
repeated_list = []

for n in list_:
    for i in range(repeated_number):
        repeated_list.append(n)

print(repeated_list)

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
[1, 1, 1, 2, 2, 2, 5, 5, 5, -6, -6, -6, -7, -7, -7, -10, -10, -10, 8, 8, 8, 15, 15, 15, 2, 2, 2, 8, 8, 8, 'cherry', 'cherry', 'cherry', 'banana', 'banana', 'banana', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'pineapple', 'pineapple', 'pineapple', 'kiwi', 'kiwi', 'kiwi', 'ananas', 'ananas', 'ananas', 'banana', 'banana', 'banana']

In [706]:
#32. **Merge and Sort**: Given two lists, create a new sorted list that merges both lists.
print(text)
print(numbers)
combined1 = sorted(text) + sorted(numbers)
print(combined)

['banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
[1, 2, 5, -6, -7, -10, 8, 15, 2, 8]
[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']

In [707]:
#33. **Find All Indices**: Given a list and an element, find all the indices of that element in the list.
print(list_)
print(object_)
print(list_.index(object_) , list_.index(object_ , list_.index(object_) + 1) )

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
banana
11 17

In [708]:
#34. **Rotate List**: Given a list, create a new list that is a rotated version of the original list (shift elements to the right).
print(list_)
rotated_list = list_[-1:] + list_[:-1]

print(rotated_list)

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
['banana', 1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas']

In [709]:
#35. **Create Range List**: Create a list of numbers in a specified range (e.g., from 1 to 10).
number_range = list(range(1 , 11))
print(number_range)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [710]:
#36. **Sum of Positive Numbers**: Given a list of numbers, calculate the sum of all positive numbers.
print(numbers)
#1st solution
sum_of_positive_numbers = 0
for n in numbers:
    if n >= 0:
        sum_of_positive_numbers += n

print(sum_of_positive_numbers)
#2nd solution
total = sum(n for n in numbers if n >= 0)
print(total)

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8]
41
41

In [711]:
#37. **Sum of Negative Numbers**: Given a list of numbers, calculate the sum of all negative numbers.
print(numbers)
#1st solution
sum_of_negative_numbers = 0
for n in numbers:
    if n <= 0:
        sum_of_negative_numbers += n

print(sum_of_negative_numbers)
#2nd solution
total1 = sum(n for n in numbers if n <= 0)
print(total1)

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8]
-23
-23

In [712]:
#38. **Check Palindrome**: Given a list, check if the list is a palindrome (reads the same forwards and backwards).
print(list_)
is_palindrome = list_ == list_[::-1]
print(bool(is_palindrome))

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
False

In [713]:
#39. **Create Nested List**: Create a new list that contains sublists, where each sublist contains a specified number of elements from the original list.
print(list_)
group_size = 3
new_list_1 = []
for i in range(0 , len(list_) , group_size):
    sublist = list_[i : i + group_size]
    new_list_1.append(sublist)

print(new_list_1)

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
[[1, 2, 5], [-6, -7, -10], [8, 15, 2], [8, 'cherry', 'banana'], ['apple', 'apple', 'pineapple'], ['kiwi', 'ananas', 'banana']]

In [714]:
#40. **Get Unique Elements in Order**: Given a list, create a new list that contains unique elements while maintaining the original order.
print(list_)
new_list_2 = []
for n in list_:
    if n not in new_list_2:
        new_list_2.append(n)
print(new_list_2)

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
[1, 2, 5, -6, -7, -10, 8, 15, 'cherry', 'banana', 'apple', 'pineapple', 'kiwi', 'ananas']

### Tuple Tasks

In [715]:
#1. **Count Occurrences**: Given a tuple and an element, find how many times the element appears in the tuple.
tuple_text = ("banana" , "apple" , "apple" , "pineapple" , "kiwi" , "ananas" , "banana")
tuple_numbers = (1, 2, 5, -6, -7, -10, 8, 15, 2, 8)
tuple_mix = (1, 2, 5, -6, -7, -10, 8, 15, 2, 8 , "banana" , "apple" , "apple" , "pineapple" , "kiwi" , "ananas" , "banana")
element_tuple = ('banana')
print(tuple_text.count(element_tuple))

2

In [716]:
#2. **Max Element**: From a given tuple, determine the largest element.
print(tuple_text)
largest_element = max(tuple_text)
print(largest_element)

('banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana')
pineapple

In [717]:
#3. **Min Element**: From a given tuple, determine the smallest element.
print(tuple_text)
smallest_element = min(tuple_text)
print(smallest_element)

('banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana')
ananas

In [718]:
#4. **Check Element**: Given a tuple and an element, check if the element is present in the tuple.
print(tuple_text)
print('cherry' in tuple_text)

('banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana')
False

In [719]:
#5. **First Element**: Access the first element of a tuple, considering what to return if the tuple is empty.
print(tuple_text)
if not tuple_text:
    print("Tuple is empty!")
else:
    print(tuple_text[0])

('banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana')
banana

In [720]:
#6. **Last Element**: Access the last element of a tuple, considering what to return if the tuple is empty.
print(tuple_text)
if not tuple_text:
    print("the tuple is empty!")
else:
    print(tuple_text[-1])

('banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana')
banana

In [721]:
#7. **Tuple Length**: Determine the number of elements in the tuple.
print(tuple_mix)
print(len(tuple_mix))

(1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana')
17

In [722]:
#8. **Slice Tuple**: Create a new tuple that contains only the first three elements of the original tuple.
print(tuple_text)
print(tuple_text[:3])

('banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana')
('banana', 'apple', 'apple')

In [723]:
#9. **Concatenate Tuples**: Given two tuples, create a new tuple that combines both.
print(tuple_text)
print(tuple_numbers)
print(tuple_numbers + tuple_text)

('banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana')
(1, 2, 5, -6, -7, -10, 8, 15, 2, 8)
(1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana')

In [724]:
#10. **Check if Tuple is Empty**: Determine if a tuple has any elements.
print(tuple_text)
if len(tuple_text) == 0:
    print(f"Tuple is empty!")
else:
    print("Tuple has element.")

('banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana')
Tuple has element.

In [725]:
#11. **Get All Indices of Element**: Given a tuple and an element, find all the indices of that element in the tuple.
print(tuple_mix)
print(tuple_mix.index(2) , tuple_mix.index(2 , tuple_mix.index(2) + 1))

(1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana')
1 8

In [726]:
#12. **Find Second Largest**: From a given tuple, find the second largest element.
print(tuple_numbers)
print(sorted(tuple_numbers)[-2])

(1, 2, 5, -6, -7, -10, 8, 15, 2, 8)
8

In [727]:
#13. **Find Second Smallest**: From a given tuple, find the second smallest element.
print(tuple_numbers)
print(sorted(tuple_numbers)[1])

(1, 2, 5, -6, -7, -10, 8, 15, 2, 8)
-7

In [728]:
#14. **Create a Single Element Tuple**: Create a tuple that contains a single specified element.
single_tuple = (1,)
print(single_tuple)

(1,)

In [729]:
#15. **Convert List to Tuple**: Given a list, create a tuple containing the same elements.
print(list_)
tuple_list = tuple(list_)
print(tuple_list)

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
(1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana')

In [730]:
#16. **Check if Tuple is Sorted**: Determine if the tuple is sorted in ascending order and return a boolean.
print(tuple_numbers)
print(bool(tuple_numbers == tuple(sorted(tuple_numbers))))

(1, 2, 5, -6, -7, -10, 8, 15, 2, 8)
False

In [731]:
#17. **Find Maximum of Subtuple**: Given a tuple, find the maximum element of a specified subtuple.
print(tuple_numbers)
print(max(tuple_numbers[0 : 7]))

(1, 2, 5, -6, -7, -10, 8, 15, 2, 8)
8

In [732]:
#18. **Find Minimum of Subtuple**: Given a tuple, find the minimum element of a specified subtuple.
print(tuple_numbers)
print(min(tuple_numbers[0 : 7]))

(1, 2, 5, -6, -7, -10, 8, 15, 2, 8)
-10

In [733]:
#19. **Remove Element by Value**: Given a tuple and an element, create a new tuple that removes the first occurrence of that element.
from copy import copy, deepcopy
print(tuple_numbers)
print(element)
list_tuple_numbers = list(tuple_numbers)
list_tuple_numbers.remove(element)
print(tuple(list_tuple_numbers))

(1, 2, 5, -6, -7, -10, 8, 15, 2, 8)
5
(1, 2, -6, -7, -10, 8, 15, 2, 8)

In [734]:
#20. **Create Nested Tuple**: Create a new tuple that contains subtuples, where each subtuple contains specified elements from the original tuple.
print(tuple_mix)
print(group_size)
temp_list = []
for i in range(0 , len(tuple_mix) , group_size):
    sublist1 = tuple_mix[i : group_size + i]
    temp_list.append(sublist1)
nested_tuple = tuple(temp_list)
print(nested_tuple)

(1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana')
3
((1, 2, 5), (-6, -7, -10), (8, 15, 2), (8, 'banana', 'apple'), ('apple', 'pineapple', 'kiwi'), ('ananas', 'banana'))

In [735]:
#21. **Repeat Elements**: Given a tuple and a number, create a new tuple where each element is repeated that number of times.
print(tuple_mix)
print(repeated_number)
repeated_list1 = []
for n in tuple_mix:
    for i in range(repeated_number):
        repeated_list1.append(n)

repeated_tuple = tuple(repeated_list1)
print(repeated_tuple)

(1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana')
3
(1, 1, 1, 2, 2, 2, 5, 5, 5, -6, -6, -6, -7, -7, -7, -10, -10, -10, 8, 8, 8, 15, 15, 15, 2, 2, 2, 8, 8, 8, 'banana', 'banana', 'banana', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'pineapple', 'pineapple', 'pineapple', 'kiwi', 'kiwi', 'kiwi', 'ananas', 'ananas', 'ananas', 'banana', 'banana', 'banana')

In [736]:
#22. **Create Range Tuple**: Create a tuple of numbers in a specified range (e.g., from 1 to 10).
print(tuple(range(1 , 11)))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [737]:
#23. **Reverse Tuple**: Create a new tuple that contains the elements of the original tuple in reverse order.
print(tuple_mix)
print(tuple_mix[::-1])

(1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana')
('banana', 'ananas', 'kiwi', 'pineapple', 'apple', 'apple', 'banana', 8, 2, 15, 8, -10, -7, -6, 5, 2, 1)

In [738]:
#24. **Check Palindrome**: Given a tuple, check if the tuple is a palindrome (reads the same forwards and backwards).
print(tuple_mix)
print(bool(tuple_mix == tuple_mix[::-1]))

(1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana')
False

In [739]:
#25. **Get Unique Elements**: Given a tuple, create a new tuple that contains only the unique elements while maintaining the original order.
print(tuple_mix)
unique_list1 = []
for n in tuple_mix:
    if n not in unique_list1:
        unique_list1.append(n)
unique_tuple = tuple(unique_list1)

print(unique_tuple)

(1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana')
(1, 2, 5, -6, -7, -10, 8, 15, 'banana', 'apple', 'pineapple', 'kiwi', 'ananas')

### Set Tasks

In [740]:
#1. **Union of Sets**: Given two sets, create a new set that contains all unique elements from both sets.
set_A = {1, 2, 5, -6, 8, 15, "banana", "apple", "kiwi"}
set_B = {5, 8, 10, 12, -6, "apple", "pineapple", "cherry", "ananas"}
set_C = {8, -6, 5, 'apple'}
#1st solution
print(set_A.union(set_B))
#2nd solution
print(set_A | set_B)

{1, 2, 5, 8, 'apple', 10, 12, 'cherry', 'ananas', 15, 'banana', 'pineapple', 'kiwi', -6}
{1, 2, 5, 8, 'apple', 10, 12, 'cherry', 'ananas', 15, 'banana', 'pineapple', 'kiwi', -6}

In [741]:
#2. **Intersection of Sets**: Given two sets, create a new set that contains elements common to both sets.
print(set_A)
print(set_B)
#1st solution
print(set_A.intersection(set_B))
#2nd sollution
print(set_A & set_B)

{1, 2, 5, 8, 'apple', 15, 'banana', 'kiwi', -6}
{5, 8, 10, 'apple', 12, 'cherry', 'ananas', 'pineapple', -6}
{8, 'apple', -6, 5}
{8, 'apple', -6, 5}

In [742]:
#3. **Difference of Sets**: Given two sets, create a new set with elements from the first set that are not in the second.
print(set_A)
print(set_B)
#1st solution
print(set_A.difference(set_B))
#2nd sollution
print(set_A - set_B)

{1, 2, 5, 8, 'apple', 15, 'banana', 'kiwi', -6}
{5, 8, 10, 'apple', 12, 'cherry', 'ananas', 'pineapple', -6}
{1, 2, 'banana', 15, 'kiwi'}
{1, 2, 'banana', 15, 'kiwi'}

In [743]:
#4. **Check Subset**: Given two sets, check if one set is a subset of the other.
print(set_A)
print(set_C)
print(set_C.issubset(set_A))

{1, 2, 5, 8, 'apple', 15, 'banana', 'kiwi', -6}
{8, -6, 'apple', 5}
True

In [744]:
#5. **Check Element**: Given a set and an element, check if the element exists in the set.
print(set_A)
print(element)
print(element in set_A)

{1, 2, 5, 8, 'apple', 15, 'banana', 'kiwi', -6}
5
True

In [745]:
#6. **Set Length**: Determine the number of unique elements in a set.
print(set_A)
print(len(set_A))

{1, 2, 5, 8, 'apple', 15, 'banana', 'kiwi', -6}
9

In [746]:
#7. **Convert List to Set**: Given a list, create a new set that contains only the unique elements from that list.
print(list_)
print(set(list_))

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
{1, 2, 5, 8, 'apple', 'cherry', 'ananas', 15, 'banana', 'pineapple', -10, 'kiwi', -7, -6}

In [747]:
#8. **Remove Element**: Given a set and an element, remove the element if it exists.
set_D = {1, 2, 5, 8, 'banana', 15, 'apple'}
print(element)
set_D.remove(element)
print(set_D)

5
{1, 2, 8, 'apple', 15, 'banana'}

In [748]:
#9. **Clear Set**: Create a new empty set from an existing set.
from copy import copy, deepcopy
print(set_D)
set_E = deepcopy(set_D)
set_E.clear()
print(set_E)

{1, 2, 8, 'apple', 15, 'banana'}
set()

In [749]:
#10. **Check if Set is Empty**: Determine if a set has any elements.
print(set_A)
if not set_A:
    print("set is empty.")
else:
    print("set has elements.")

{1, 2, 5, 8, 'apple', 15, 'banana', 'kiwi', -6}
set has elements.

In [750]:
#11. **Symmetric Difference**: Given two sets, create a new set that contains elements that are in either set but not in both.
print(set_A)
print(set_B)
#1st solution
print(set_A.symmetric_difference(set_B))
#2nd solution
print(set_A ^ set_B)

{1, 2, 5, 8, 'apple', 15, 'banana', 'kiwi', -6}
{5, 8, 10, 'apple', 12, 'cherry', 'ananas', 'pineapple', -6}
{1, 2, 10, 12, 'cherry', 'ananas', 15, 'banana', 'pineapple', 'kiwi'}
{1, 2, 10, 12, 'cherry', 'ananas', 15, 'banana', 'pineapple', 'kiwi'}

In [751]:
#12. **Add Element**: Given a set and an element, add the element to the set if it is not already present.
print(set_D)
element1 = 'cherry'
set_D.add(element1)
print(set_D)

{1, 2, 8, 'apple', 15, 'banana'}
{1, 2, 8, 'apple', 'cherry', 15, 'banana'}

In [752]:
#13. **Pop Element**: Given a set, remove and return an arbitrary element from the set.
print(set_D)
removed_item = set_D.pop()
print(f"Removed item is {removed_item}")
print(f"the remaining set is {set_D}")

{1, 2, 8, 'apple', 'cherry', 15, 'banana'}
Removed item is 1
the remaining set is {2, 8, 'apple', 'cherry', 15, 'banana'}

In [753]:
#14. **Find Maximum**: From a given set of numbers, find the maximum element.
set_numbers = {1, 2, 5, -6, -7, -10, 8, 15,}
set_text = {'cherry', 'banana', 'apple', 'pineapple', 'kiwi', 'ananas'}
print(set_numbers)
print(max(set_numbers))

{1, 2, 5, 8, 15, -10, -7, -6}
15

In [754]:
#15. **Find Minimum**: From a given set of numbers, find the minimum element.
print(set_numbers)
print(min(set_numbers))

{1, 2, 5, 8, 15, -10, -7, -6}
-10

In [755]:
#16. **Filter Even Numbers**: Given a set of integers, create a new set that contains only the even numbers.
print(set_numbers)
even_set = set()
for n in set_numbers:
    if n % 2 == 0:
        even_set.add(n)

print(even_set)

{1, 2, 5, 8, 15, -10, -7, -6}
{8, 2, -6, -10}

In [756]:
#17. **Filter Odd Numbers**: Given a set of integers, create a new set that contains only the odd numbers.
print(set_numbers)
odd_set = set()
for n in set_numbers:
    if n % 2 == 1:
        odd_set.add(n)

print(odd_set)

{1, 2, 5, 8, 15, -10, -7, -6}
{1, 5, -7, 15}

In [757]:
#18. **Create a Set of a Range**: Create a set of numbers in a specified range (e.g., from 1 to 10).
set_F = set(range(1 , 11))
print(set_F)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [758]:
#19. **Merge and Deduplicate**: Given two lists, create a new set that merges both lists and removes duplicates.
print(set_A)
print(set_D)

print(set_A | set_D)

{1, 2, 5, 8, 'apple', 15, 'banana', 'kiwi', -6}
{2, 8, 'apple', 'cherry', 15, 'banana'}
{1, 2, 5, 8, 'apple', 'cherry', 15, 'banana', 'kiwi', -6}

In [759]:
#20. **Check Disjoint Sets**: Given two sets, check if they have no elements in common.
print(set_A)
print(set_D)
if set_A.isdisjoint(set_D):
    print("They have no elements in common.")
else:
    print("They have elements in common.")

{1, 2, 5, 8, 'apple', 15, 'banana', 'kiwi', -6}
{2, 8, 'apple', 'cherry', 15, 'banana'}
They have elements in common.

In [760]:
#21. **Remove Duplicates from a List**: Given a list, create a set from it to remove duplicates, then convert back to a list.
print(list_)
print(list(set(list_)))

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
[1, 2, 5, 8, 'apple', 'cherry', 'ananas', 15, 'banana', 'pineapple', -10, 'kiwi', -7, -6]

In [761]:
#22. **Count Unique Elements**: Given a list, determine the count of unique elements using a set.
print(list_)
print(len(set(list_)) * 2 - len(list_))

[1, 2, 5, -6, -7, -10, 8, 15, 2, 8, 'cherry', 'banana', 'apple', 'apple', 'pineapple', 'kiwi', 'ananas', 'banana']
10

In [762]:
#23. **Generate Random Set**: Create a set with a specified number of random integers within a certain range.
print(set(range(45 , 100 , 3)))

{45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99}

### Dictionary Tasks

In [763]:
#1. **Get Value**: Given a dictionary and a key, retrieve the associated value, considering what to return if the key doesnt exist.
product_info = {
    "name": "Laptop",
    "price": 1200,
    "stock": 15
}
person_id = {
    'name': "John",
    'email': "John@gmail.com",
    'age': 50
}
if 'name' not in person_id:
    print("The key 'name' doesn't exsist!")
else:
    print(person_id["name"])

John

In [764]:
#2. **Check Key**: Given a dictionary and a key, check if the key is present in the dictionary.
print(product_info)
if len(product_info.keys()) == 0:
    print("The keys are not present in dictionary.")
else:
    print("There are keys present in dictionary")

{'name': 'Laptop', 'price': 1200, 'stock': 15}
There are keys present in dictionary

In [765]:
#3. **Count Keys**: Determine the number of keys in the dictionary.
print(product_info)
print(len(product_info.keys()))

{'name': 'Laptop', 'price': 1200, 'stock': 15}
3

In [766]:
#4. **Get All Keys**: Create a list that contains all the keys in the dictionary.
print(person_id)
print(list(person_id.keys()))

{'name': 'John', 'email': 'John@gmail.com', 'age': 50}
['name', 'email', 'age']

In [767]:
#5. **Get All Values**: Create a list that contains all the values in the dictionary.
print(person_id)
print(list(person_id.values()))

{'name': 'John', 'email': 'John@gmail.com', 'age': 50}
['John', 'John@gmail.com', 50]

In [768]:
#6. **Merge Dictionaries**: Given two dictionaries, create a new dictionary that combines both.
print(person_id)
print(product_info)
person_product_info = dict(list(person_id.items()) + list(product_info.items()))
print(person_product_info)

{'name': 'John', 'email': 'John@gmail.com', 'age': 50}
{'name': 'Laptop', 'price': 1200, 'stock': 15}
{'name': 'Laptop', 'email': 'John@gmail.com', 'age': 50, 'price': 1200, 'stock': 15}

In [769]:
#7. **Remove Key**: Given a dictionary and a key, remove the key if it exists, handling the case if it doesnt.
from copy import copy, deepcopy
a_person_id = person_id
print(a_person_id)
key_to_remove = 'sex'
if key_to_remove in a_person_id:
    print(f"The key {key_to_remove} is deleted.")
else:
    print(f"There is no key named {key_to_remove}!")

{'name': 'John', 'email': 'John@gmail.com', 'age': 50}
There is no key named sex!

In [770]:
#8. **Clear Dictionary**: Create a new empty dictionary.
empty_dictionary = {}
print(empty_dictionary)

{}

In [771]:
#9. **Check if Dictionary is Empty**: Determine if a dictionary has any elements.
print(empty_dictionary)
if not empty_dictionary:
    print("Dictionary has no element!")
else:
    print("Dictionary has elements.")

{}
Dictionary has no element!

In [772]:
#10. **Get Key-Value Pair**: Given a dictionary and a key, retrieve the key-value pair if the key exists.
print(person_id)
key_to_find = 'age'
if key_to_find in person_id:
    key_value_pair = dict([(key_to_find , person_id[key_to_find])])
    print(key_value_pair)
else:
    print(f"Pair {key_to_find} could not be find!")

{'name': 'John', 'email': 'John@gmail.com', 'age': 50}
{'age': 50}

In [773]:
#11. **Update Value**: Given a dictionary, update the value for a specified key.
print(product_info)
product_info.update({'price' : 1250})
print(product_info)

{'name': 'Laptop', 'price': 1200, 'stock': 15}
{'name': 'Laptop', 'price': 1250, 'stock': 15}

In [774]:
#12. **Count Value Occurrences**: Given a dictionary, count how many times a specific value appears across the keys.
print(person_id)
value_occurance = 0
specific_value = 50
for n in person_id.values():
    if specific_value == n:
        value_occurance += 1
print(value_occurance)

{'name': 'John', 'email': 'John@gmail.com', 'age': 50}
1

In [775]:
#13. **Invert Dictionary**: Given a dictionary, create a new dictionary that swaps keys and values.
print(product_info)
inverted_dict = {v:k for k, v in product_info.items()}
print(inverted_dict)

{'name': 'Laptop', 'price': 1250, 'stock': 15}
{'Laptop': 'name', 1250: 'price', 15: 'stock'}

In [776]:
#14. **Find Keys with Value**: Given a dictionary and a value, create a list of all keys that have that value.
print(person_id)
value_dict = "unknown"
print({k : value_dict for k in person_id.keys()})

{'name': 'John', 'email': 'John@gmail.com', 'age': 50}
{'name': 'unknown', 'email': 'unknown', 'age': 'unknown'}

In [777]:
#15. **Create a Dictionary from Lists**: Given two lists (one of keys and one of values), create a dictionary that pairs them.
dict_list1 = ["name" , "date of birth", 'age' , 'email']
dict_list2 = ["Klein" , 14_03_1297 , 27 , "klein@gmail.com"]
paired_dict = dict(zip(dict_list1 , dict_list2))

print(paired_dict)

{'name': 'Klein', 'date of birth': 14031297, 'age': 27, 'email': 'klein@gmail.com'}

In [778]:
#16. **Check for Nested Dictionaries**: Given a dictionary, check if any values are also dictionaries.
print(person_id)
if any(isinstance(v , dict) for v in person_id):
    print("Yes")
else:
    print('No')

{'name': 'John', 'email': 'John@gmail.com', 'age': 50}
No

In [779]:
#17. **Get Nested Value**: Given a nested dictionary, retrieve a value from within one of the inner dictionaries.
company_data = {
    "Department_A": {
        "Manager": "Alice",
        "Staff": 12,
        "Budget": 50000
    },
    "Department_B": {
        "Manager": "Bob",
        "Staff": 8,
        "Budget": 35000
    }
}
print(company_data)
print(list(company_data["Department_A"].values())[0])

{'Department_A': {'Manager': 'Alice', 'Staff': 12, 'Budget': 50000}, 'Department_B': {'Manager': 'Bob', 'Staff': 8, 'Budget': 35000}}
Alice

In [780]:
#18. **Create Default Dictionary**: Create a dictionary that provides a default value for missing keys.
# Attention. Teacher didn't meantion missing keys at all during the lesson. I didn't know its exsistense till now so all I could do to skip this question. Please don't misunderstand

In [781]:
#19. **Count Unique Values**: Given a dictionary, determine the number of unique values it contains.
print(product_info)
print(len(set(product_info.values())))

{'name': 'Laptop', 'price': 1250, 'stock': 15}
3

In [782]:
#20. **Sort Dictionary by Key**: Create a new dictionary sorted by keys.
print(product_info)
k_dict = sorted(product_info.keys())
v_dict = list(product_info.values())
sorted_by_keys_dict = dict(zip(k_dict , v_dict))
print(sorted_by_keys_dict)

{'name': 'Laptop', 'price': 1250, 'stock': 15}
{'name': 'Laptop', 'price': 1250, 'stock': 15}

In [783]:
#21. **Sort Dictionary by Value**: Create a new dictionary sorted by values.
k_dict1 = list(set(range(1 , 11)))
v_dict1 = list(sorted(range(1 , 11)))
print(dict(zip(k_dict1 , v_dict1)))

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10}

In [785]:
#22. **Filter by Value**: Given a dictionary, create a new dictionary that only includes items with values that meet a certain condition.
prices = {"Laptop": 1200, "Mouse": 25, "Monitor": 300, "USB-C Cable": 15}
expensive_items = {k:v for k, v in prices.items() if v>100}
print(expensive_items)

{'Laptop': 1200, 'Monitor': 300}

In [788]:
#23. **Check for Common Keys**: Given two dictionaries, check if they have any keys in common.
print(person_id)
print(product_info)
key1 = set(person_id.keys())
key2 = set(product_info.keys())
print(key1.intersection(key2))

{'name': 'John', 'email': 'John@gmail.com', 'age': 50}
{'name': 'Laptop', 'price': 1250, 'stock': 15}
{'name'}

In [791]:
#24. **Create Dictionary from Tuple**: Given a tuple of key-value pairs, create a dictionary from it.
tuple_dict_key =["name" , "date of birth", 'age' , 'email']
tuple_dict_value = ["Klein" , 14_03_1297 , 27 , "klein@gmail.com"]
print(dict(zip(tuple_dict_key , tuple_dict_value)))

{'name': 'Klein', 'date of birth': 14031297, 'age': 27, 'email': 'klein@gmail.com'}

In [794]:
#25. **Get the First Key-Value Pair**: Retrieve the first key-value pair from a dictionary.
print(person_id)
first_pair = next(iter(person_id.items()))
print(first_pair)

{'name': 'John', 'email': 'John@gmail.com', 'age': 50}
('name', 'John')